/* initial styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* @font-face {
  font-family: "InterFont";
  font-display: swap;
  src: url("../fonts/Inter-Regular.otf");
  font-weight: normal;
  font-style: normal;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  background: #293b2b;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #d9d9d9;
}
::-webkit-scrollbar-thumb {
  background: #293b2b;
}

/* template styles */

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(22, 26, 22, 0) -37.5%, #161a16 68%);
  mix-blend-mode: normal;
  width: 100%;
  padding: 0.8rem 0;
  color: #fff;
  z-index: 3;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
	width: 100%;
}
.header_wrapper h2 {
  line-height: 1;
}
.header_nav {
  display: flex;
  align-items: inherit;
  column-gap: 1rem;
}
.header_nav a {
  color: #fff;
  font-weight: 600;
}

.header_nav a:last-of-type {
  text-decoration: none;
  background: linear-gradient(102.12deg, #63d737 7.53%, #058048 98.25%);
  border-radius: 1.5rem;
  padding: 0.3rem 1.5rem;
}

.main {
  width: 100%;
  height: 100%;
}
.diposito {
  width: 70%;
  padding-bottom: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 6;
}

.diposito_content {
  width: 25%;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  background-color: #fff;
  border-radius: 0 0 2rem 2rem;
	color: #293B2B;
}
.diposito_content h2 {
	font-style: italic;
	font-weight: 800;
	font-size: clamp(11px, 2vw, 20px);
}
.diposito_content h1 {
	font-style: italic;
	font-weight: 900;
	font-size: clamp(13px, 2vw, 22px);
}

.main_title {
	display: flex;
	flex-direction: column;
	width: 40%;
	font-style: italic;
	font-weight: 800;
}
.main_title h2 {
	font-weight: 800;
	text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
	font-size: clamp(1rem, 2vw, 1.9rem);
}
.main_title h2:nth-child(2) {
	margin-left: 7rem !important;
}
.main_title h1:first-of-type {
	margin-left: 3rem !important;
	margin-right: 2rem;
	font-weight: 900;
	font-size: clamp(1.6rem, 2.5vw, 2.5rem);
	text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
}

.main_sub_title {
	margin: 3.75rem 0 1.875rem;
}
.main_sub_title h2 {
	text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
	font-weight: 500;
	font-size: clamp(15px, 1.5vw, 28px);
}
.desktop_sub_title {
	display: block;
}
.mobile_sub_title {
	display: none;
}

.registration_btn {
	position: relative;
  background: linear-gradient(102.12deg, #63d737 7.53%, #058048 98.25%);
  border-radius: 2rem;
  padding: 1.2rem 7rem;
	font-size: clamp(18px, 1.5vw, 36px);
	line-height: 100%;
	border: 0;
	cursor: pointer;
	color: #fff;
	overflow: hidden;
}
.registration_btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: .5rem;
	box-shadow: 0 0 1rem #fff;
	height: 100%;
	background-color: rgba(255, 255, 255, .8);
	transform: translateX(-2rem) skewX(-45deg);
	animation: shine 3s infinite;
	z-index: 1;
}

@keyframes shine {
	0% {
		transform: translateX(-3rem) skewX(-45deg);
	}
	100% {
		transform: translateX(40rem) skewX(-45deg);
	}
}

.swiper {
  width: 100%;
  height: 100%;
  background: #293b2b;
  margin-top: -8rem;
}

.swiper-pagination {
  position: absolute;
  bottom: 1rem;
}
.swiper-pagination-bullet {
  background: #d9d9d9;
}
.swiper-pagination-bullet-active {
  background: linear-gradient(102.12deg, #63d737 7.53%, #058048 98.25%);
}
.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.desktop_bg {
	display: block;
}
.mobile_bg {
	display: none;
}
.swiper-slide .slider_bg {
  max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(41, 59, 43, 0.35),
      rgba(41, 59, 43, 0.35)
    ),
    radial-gradient(
      58.29% 46% at 50% 54%,
      rgba(41, 59, 43, 0) 50.26%,
      #293b2b 100%
    );
  z-index: 1;
}
.slide_content_wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;

  display: flex;
  justify-content: center;
	flex-direction: column;

  width: 70%;
  height: 100%;
  z-index: 5 !important;
}

.second_slide {
	justify-content: flex-end;
	padding-bottom: 6rem;
}

footer {
  width: 100%;
  height: 100%;
  background: #293b2b;
  padding: 5rem 0 3rem;
}

.footer_content_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_content_wrapper h2 {
  color: #fff;
	display: block;
}

.form_wrapper {
  width: 80%;
  display: flex;
  align-items: center;
}
.form_wrapper input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  outline: 0;
  outline-offset: 0;
  border-radius: 2rem;
  border: 2px solid #63d737;
  position: relative;
  right: -2.5rem;
  caret-color: #d9d9d9;
  color: #8e8e8e;
  font-size: clamp(12px, 2vw, 17px);
}
.form_wrapper input::placeholder {
  color: #d9d9d9;
  font-size: clamp(12px, 2vw, 17px);
}
.form_wrapper button {
  padding: 0.75rem 3rem 0.75rem 5rem;
  border-radius: 0 2rem 2rem 0;
  background: linear-gradient(102.12deg, #63d737 7.53%, #058048 98.25%);
  border: 2px solid #058048;
  cursor: pointer;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(12px, 2vw, 17.5px);
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.75rem;
  row-gap: 1.5rem;
}
.current_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 8 - 1rem);
}
.current_img img {
	max-width: 100%;
}

.mobile_logo {
	display: none;
}