@media (max-width: 1280px) {
	.current_img {
		width: calc(100% / 6 - 1rem);
	}
}

@media (max-width: 992px) {
	.container {
		width: 80%;
	}
	.header_wrapper {
		width: 80%;
		margin: 0 auto;
	}
  .header_nav a:first-of-type {
    display: none;
  }
	.diposito {
		justify-content: center;
	}
	.diposito_content {
		display: flex;
		flex-wrap: nowrap;
		padding: .5rem 0;
		border-radius: 0 0 1.5rem 1.5rem;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: .5rem;
	}
	.slide_content_wrapper {
		align-items: center;
		justify-content: flex-start;
		padding-top: 2rem;
	}
	.second_slide {
		padding-bottom: 0;
	}
	.swiper {
		margin-top: 0;
	}
	.swiper-pagination {
		display: none;
	}
	.main_sub_title {
		margin: 1rem 0;
	}
	.main_title {
		width: 100%;
		text-align: center;
	}
	.registration_btn {
		padding: .7rem 4rem;
	}
	.mobile_logo {
		display: block;
		color: #fff;
		text-align: center;
		margin-top: 2.75rem;
	}
	.footer_content_wrapper h2 {
		color: #fff;
		display: none;
	}
	.current_img {
		width: calc(100% / 5 - 1rem);
	}
	.form_wrapper {
		width: 100%;
	}
	.swiper-slide {
		height: 100vh;
	}
	.desktop_bg {
		display: none;
	}
	.mobile_bg {
		display: block;
	}
	.desktop_sub_title {
		display: none;
	}
	.mobile_sub_title {
		display: block;
		text-align: center;
	}
	.swiper-slide::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
				0deg,
				rgba(41, 59, 43, 0.35),
				rgba(41, 59, 43, 0.35)
			),
			radial-gradient(
				58.29% 40% at 50% 54%,
				rgba(41, 59, 43, 0) 50.26%,
				#293b2b 100%
			);
		z-index: 1;
	}
}

@media (max-width: 768px) {
	.current_img {
		width: calc(100% / 3 - 1rem);
	}
}

